#title {
  background-color: #e7305b;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat-Black", sans-serif;
  
}
h2{

}
h3{
  
  font-weight: bold;
  font-size: 1.5rem;
}
.container-fluid {
  padding: 3% 15% 7%;
}
body {
  font-family: "Montserrat-Black", sans-serif;
  text-align: center;
}
.bigheading{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
  
}
#title {
  color: white;
}

/* Navigation Bar */
.navbar {
  padding:0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  
}
.nav-item {
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-size: font-family: "Montserrat-Black", sans-serif;
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
  
}

/* Title Image */
.Title-Img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  
}

/* Features Section */

.feature-col{

  
  font-family: "Montserrat-Black", sans-serif;
  padding: 0 20px;
}

p{
  color: #8f8f8f;
}
.feature-icon{
  color: #40bfc1;
  font-size: 50px;
  padding-bottom: 10px;
}
.feature-icon:hover{
  color: #e7305b;
}
#features{
  background-color: white;
  position: relative;
  padding: 7% 15%;
  

}

/* Testimonial */
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}
#testimonials{
  
  
  background-color: #ff6f5e;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
  background-color: #ff6f5e;
  
  padding-bottom: 30px;

}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing{
  padding: 100px;
  
  
}
.priceh2{
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}
.pricing-col{
  padding: 3% 2%;
}
#cta{
  background-color: #e7305b;
  
  
  padding: 7% 15%;

}
#cta > h3{
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  color:#fff;
  
}
/* footer */
#footer{
  
  padding: 5%;

}
.footer-icon{
margin: 0 10px;
}
@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .Title-Img{
    position: static;
    transform: rotate(0);
  }
  
}